<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="text-white" th:href="@{/getBoardList}" >게시판</a>
        <a class="text-white" th:href="@{/account/insertAccount}" >회원가입</a>
        <a class="text-white" th:href="@{/account/getMemberList}" >회원정보</a>
        <form class="d-flex">
            <input class = "form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <h1>회원 목록</h1>
    <table class="table table-striped" border="1" cellpadding="0" cellspacing="0" width="700" >
        <tr>
            <th width="100" >번호</th>
            <th width="200">아이디</th>
            <th width="200">비밀번호</th>
            <th width="200">이메일</th>
            <th width="200">주소</th>
            <th width="200">생성날짜</th>
            <th width="150">업데이트 날짜</th>
        </tr>

        <tr th:each=" member : ${memberList}">
            <td th:text="${member.seq}">
            <td><a th:href="@{/account/getMember(seq =${member.seq})}"
                   th:text="${member.id}"></a> </td>
            <td th:text="${member.password}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${member.createDate}"></td>
            <td th:text="${member.updateDate}"></td>
        </tr>
    </table>
    <a class="btn btn-secondary border-secondary float-right" th:href="@{/getBoardList}"> 게시판 </a>
    <a th:href="@{/account/selectAccount}">회원찾기</a>
</div>

<br>

</body>
</html>