<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="text-white" th:href="@{/getBoardList}" >게시판</a>
        <a class="text-white" th:href="@{/account/insertAccount}" >회원가입</a>
        <a class="text-white" th:href="@{/account/getMemberList}" >회원정보</a>
        <form class="d-flex">
            <input class = "form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
 <table class="table table-striped th:align= center  ">
      <tr th:each="member :${memberList}">
         <td th:text="${member.seq}"></td>
         <td th:text="${member.id}"></td>
         <td th:text="${member.email}"></td>
    </tr>
</table>
</body>
</html>