<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="text-white" th:href="@{/getBoardList}" >게시판</a>
        <a class="text-white" th:href="@{/account/insertAccount}" >회원가입</a>
        <a class="text-white" th:href="@{/account/getMemberList}" >회원정보</a>
        <form class="d-flex">
            <input class = "form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button  class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>



</body>
</html>